.row{
    padding: 20px;
    background-color: rgb(187, 211, 204);
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
        display: inline-block;
        text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px rgba(141, 9, 9, 0.589);
    box-shadow: ejeX ejeY difumasion color;
}