<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Logosproyecto/perfilphoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}  {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>hola ¿como estas? mi nombre es Jonathan Marquez y tengo formación académica a nivel universitaria de la mano de la Universidad Pedagogica con cede en Barquisimeto estado Lara (Venezuela), la cual me otorgó el título de profesor , específicamente en el área de educación musical, mi experiencia laboral se centro en dar clases de guitarra clásica, luego me dedique al aseguramiento de calidad de instrumentos musicales. De allí nace el interés del aprendizaje en el área IT, es por esto que actualmente me estoy formando como profesional de software tester QA y desarrollador fullstack.</p>
        </span>
    </div>
</div>
