<div class="row">
    <div class="container">
            <div class="logo">
                <img src="../../../assets/Logosproyecto/APLogo.png" id="logoAP">
        </div>

        <div class="redes">
    <a href="https://www.linkedin.com/in/jonathan-marquez-289127a1/"><img src="../../../assets/Logosproyecto/linkedin.png" alt="" id="linkedin"></a>
    <a href="https://github.com/jthmarquez"><img src="../../../assets/Logosproyecto/github.png" alt="" id="github"></a>
    <button type="button" class="btn btn-outline-light" (click)="login()">LOGIN</button>
              </div>         
       </div>
</div>